footer {
  background-color: var(--light-color);
  font-size: var(--body-font-size-xs);
}

footer .footer > div {
  margin: auto;
  max-width: 1200px;
  padding: 40px 24px 24px;
}

footer .footer p {
  margin: 0;
}

@media (width >= 900px) {
  footer .footer > div {
    padding: 40px 32px 24px;
  }

  footer .social-media-container .default-content-wrapper {
    display: flex;
    flex: 4;
  }
  footer .social-media-container .default-content-wrapper p {
    flex: 1;
  }
  footer .social-media-container .default-content-wrapper p span {
    width: 130px;
    height: auto;
  }

  footer .social-media-container .default-content-wrapper ul {
    display: flex;
    flex: 4;
    flex-wrap: wrap;
    list-style: none;
    justify-content: space-around;
  }

  footer .social-media-container .social-media-wrapper {
    flex: 1
  }
}

