.breadcrumb > div {
    display: flex;
    font-size: 1rem;
    justify-content: flex-start;
    gap: 0.5rem;
    position: relative;
}

.breadcrumb > div > div {
    position: relative;
}

.breadcrumb > div > div:not(:first-child)::before {
    content: '';
    display: inline-block;
    position: absolute;
    transform: rotate(45deg);
    top: 1.3rem;
    left: 0;
    width: 6px;
    height: 6px;
    color: yellowgreen;
    border: 2px solid currentcolor;
    border-radius: 0 1px 0 0;
    border-width: 2px 2px 0 0;
}

.breadcrumb > div > div:not(:first-child) p {
    padding-left: 1rem;
}